.main-button {
  @include flexCenterGap(1rem);

  button {
    background-color: $warning;
    border-radius: 6px;
    color: $text-color;
    padding: 10px $size-03;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: darken($color: $link-color, $amount: 5);
    }
  }
}
