* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    pointer-events: none;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:where(figure) {
  margin: 0;
}

:where(table, th, td) {
  border-collapse: collapse;
}

:where(img, picture, video, canvas) {
  display: block;
  max-width: 100%;
}

:where(img) {
  height: auto;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  font-style: italic;
}

:where(input, button, textarea, select) {
  font: inherit;
  border: none;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  list-style: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}
