$base-size: 4px;

$size-01: $base-size;
$size-02: $base-size + 4px;
$size-03: $base-size + 8px;
$size-04: $base-size + 12px;
$size-05: $base-size + 16px;
$size-06: $base-size + 20px;
$size-07: $base-size + 24px;
$size-08: $base-size + 28px;
$size-09: $base-size + 32px;
$size-10: $base-size + 36px;
$size-11: $base-size + 40px;
$size-12: $base-size + 44px;
$size-13: $base-size + 48px;
