// Accent
$colors-accent-brand: $light-blue-500;

// Background
$colors-background-brand: $light-blue-500;
$colors-background-default: $gray-50;
$colors-background-overlay: $alpha;

// Border
$colors-border-blue: $light-blue-300;
$colors-border-light: $gray-100;
$colors-border-strong: $gray-600;
$colors-border-subtle: $gray-300;

// Error
$colors-error-light: $red-50;
$colors-error-neutral: $red-400;
$colors-error-strong: $red-600;

// Fill
$colors-fill-brand: $light-blue-900;
$colors-fill-light: $white;
$colors-fill-neutral: $gray-50;
$colors-fill-strong: $gray-900;
$colors-fill-subtle: $gray-100;

// Icon
$colors-icon-brand: $light-blue-500;
$colors-icon-light: $gray-200;
$colors-icon-neutral: $gray-400;
$colors-icon-onbrand: $white;
$colors-icon-strong: $gray-600;

// Interactive
$colors-interactive-darkblue: $light-blue-600;
$colors-interactive-darkgray: $gray-800;
$colors-interactive-lightblue: $light-blue-50;
$colors-interactive-lightgray: $gray-100;
$colors-interactive-subtleblue: $light-blue-500;
$colors-interactive-subtlegray: $gray-500;

// Success
$colors-success-light: $emerald-50;
$colors-success-neutral: $emerald-400;
$colors-success-strong: $emerald-700;

// Text
$colors-text-brand: $light-blue-500;
$colors-text-light: $gray-200;
$colors-text-neutral: $gray-400;
$colors-text-onbrand: $white;
$colors-text-strong: $gray-800;
$colors-text-subtle: $gray-600;

// Warning
$colors-warning-light: $yellow-50;
$colors-warning-neutral: $yellow-400;
$colors-warning-strong: $yellow-800;
