$alpha: #000000cc;
$black: #000000;
$white: #ffffff;

// Blue
$blue-50: #e6edf4;
$blue-100: #d2dcea;
$blue-200: #a8bdd6;
$blue-300: #7f9cc3;
$blue-400: #557caf;
$blue-500: #2b5c9c;
$blue-600: #22497c;
$blue-700: #1a365b;
$blue-800: #10233c;
$blue-900: #0d1c30;
$blue-950: #091320;

// Emerald
$emerald-50: #edfdf5;
$emerald-100: #d1fae5;
$emerald-200: #aaf3d1;
$emerald-300: #6ee7b7;
$emerald-400: #36d399;
$emerald-500: #12ba82;
$emerald-600: #079769;
$emerald-700: #047756;
$emerald-800: #066046;
$emerald-900: #064c39;
$emerald-950: #014131;

// Gray
$gray-50: #fcfcfd;
$gray-100: #ececee;
$gray-200: #d8d8da;
$gray-300: #bfbfc4;
$gray-400: #8a8a93;
$gray-500: #71717a;
$gray-600: #5b5b62;
$gray-700: #45454a;
$gray-800: #2c2c30;
$gray-900: #161617;
$gray-950: #0c0c0d;

// Light Blue
$light-blue-50: #ebf6ff;
$light-blue-100: #d1ecff;
$light-blue-200: #bde3ff;
$light-blue-300: #a8dcff;
$light-blue-400: #52baff;
$light-blue-500: #24a7ff;
$light-blue-600: #1d8ad3;
$light-blue-700: #166aa2;
$light-blue-800: #0b3e60;
$light-blue-900: #072b46;
$light-blue-950: #041d2f;

// Red
$red-50: #feedec;
$red-100: #fddbd8;
$red-200: #fbb3ac;
$red-300: #fa8c85;
$red-400: #f8685d;
$red-500: #f63f31;
$red-600: #c73329;
$red-700: #93271f;
$red-800: #611a14;
$red-900: #4d140f;
$red-950: #1a0705;

// Yellow
$yellow-50: #fffbeb;
$yellow-100: #fef3c8;
$yellow-200: #fde68b;
$yellow-300: #fcd34a;
$yellow-400: #fbbd23;
$yellow-500: #f59f0a;
$yellow-600: #d97708;
$yellow-700: #b2530a;
$yellow-800: #91400d;
$yellow-900: #76350f;
$yellow-950: #4b1c01;
